{
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    }
  },
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@lacqueristas/colors": "./source/@lacqueristas/colors",
          "@lacqueristas/decorators": "./source/@lacqueristas/decorators",
          "@lacqueristas/elements": "./source/@lacqueristas/elements",
          "@lacqueristas/pages": "./source/@lacqueristas/pages",
          "@lacqueristas/queries": "./source/@lacqueristas/queries",
          "@lacqueristas/reactions": "./source/@lacqueristas/reactions",
          "@lacqueristas/resources": "./source/@lacqueristas/resources",
          "@lacqueristas/route": "./source/@lacqueristas/route",
          "@lacqueristas/signals": "./source/@lacqueristas/signals",
          "@lacqueristas/styles": "./source/@lacqueristas/styles",
          "@lacqueristas/ui": "./source/@lacqueristas/ui"
        }
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "external-helpers"
  ]
}
